<div id="history">

  <div id="today">
    <app-fix-menu></app-fix-menu>

    <div id="header-page" class="w-full">
      <div class="btn-group grid grid-cols-3">
        <button class="btn btn-success btn-outline" (click)="setCur(currentIndex-1)"
                [disabled]="!hasPrev">{{preMessage}}</button>
        <button class="btn btn-success btn-outline">{{currentMessage}}</button>
        <button class="btn btn-success btn-outline" (click)="setCur(currentIndex+1)"
                [disabled]="!hasNext">{{nextMessage}}</button>
      </div>
    </div>

    <app-submission-card class="w-full" [submission]="sub" [admin]="adminMode" *ngFor="let sub of submissions;"/>

    <app-end></app-end>

    <div id="bottom-page" class="w-full">
      <div class="btn-group grid grid-cols-3">
        <button class="btn btn-success btn-outline" (click)="setCur(currentIndex-1)"
                [disabled]="!hasPrev">{{preMessage}}</button>
        <button class="btn btn-success btn-outline">{{currentMessage}}</button>

        <button class="btn btn-success btn-outline" (click)="setCur(currentIndex+1)"
                [disabled]="!hasNext">{{nextMessage}}</button>
      </div>
    </div>
  </div>


</div>
