<div class="mx-auto max-w-4xl">
  <div class="btn-group grid grid-cols-3 w-full place-items-center">
    <button (click)="changeDate(-1)" class="btn btn-ghost btn-sm">{{ preMessage }}</button>

    <div class="text-center">
      <input (change)="setDate(selectedDate)" [(ngModel)]="selectedDate"
             [max]="todayDate"
             class="datepicker text-center rounded max-w-fit p-1.5 btn-ghost outline-none"
             required type="date">
    </div>

    <button (click)="changeDate(1)" [disabled]="!hasNext" class="btn btn-ghost btn-sm">{{ nextMessage }}</button>
  </div>
  <app-card *ngFor="let sub of submissions;" [admin]="adminMode" [submission]="sub" [lazy]='true' class="w-full"/>
  <app-end></app-end>
</div>
