<div>
  <div class="navbar border-l-indigo-300  bg-base-100 shadow-xl rounded-box ">
    <div class="dropdown lg:hidden">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a class="btn-ghost" routerLink="/today">今日投稿</a>
        </li>
        <li>
          <a class="btn-ghost" routerLink="/history">历史投稿</a>
        </li>
        <li>
          <a class="btn-ghost" routerLink="/review">审核</a>
        </li>
      </ul>
    </div>
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl">memes</a>
    </div>


    <div class="flex-none hidden sm:flex">
      <div class="menu menu-horizontal px-1">
        <a routerLink="/history" class="btn btn-ghost">历史投稿</a>
      </div>
    </div>

    <div>
      <div class="flex-none  hidden sm:flex">
        <div class="menu menu-horizontal px-1">
          <a routerLink="/today" class="btn btn-ghost">今日投稿</a>
        </div>
      </div>
    </div>

    <div class="flex-none">
      <div class="tooltip tooltip-success tooltip-bottom" data-tip="点击投稿">
        <button routerLink="/submit" class="btn btn-outline btn-success">➕</button>
      </div>
    </div>
  </div>


</div>
