<div class="columns-3 w-full" *ngIf="!adminMode">
  <div>
    <div class=" w-full text-center">
      <button class="btn  text-xl mx-2" [ngClass]="downClass()" (click)="vote(hash,false)">🥵</button>
      <span class="text-lg">{{down}}</span>
    </div>

    <div class="w-full text-center">
      <button class=" btn text-xl mx-2" [ngClass]="loveClass()" (click)="love(hash)">🥰</button>
    </div>

    <div class="w-full text-center">
      <span class="text-lg">{{up}}</span>
      <button class="btn text-xl mx-2" [ngClass]="upClass()" (click)="vote(hash,true)">🤣</button>
    </div>
  </div>
  <div class="h-2">
  </div>
</div>


<div class="columns-5 w-full" *ngIf="adminMode">
  <div>
    <div class="w-full text-center">
      <button class=" btn text-lg mx-2" [ngClass]="deactiveBtn" (click)="removeTop(hash)"> 👇</button>
    </div>

    <div class="w-full text-center">
      <button class="btn text-lg mx-2" [ngClass]="downClass()" (click)="vote(hash,false)">🥵</button>
    </div>

    <div class="w-full text-center">
      <button class=" btn text-lg mx-2" [ngClass]="loveClass()" (click)="love(hash)">🥰</button>
    </div>

    <div class="w-full " style="text-align: center;">
      <button class=" btn text-lg mx-2" [ngClass]="upClass()" (click)="vote(hash,true)">🤣
      </button>
    </div>

    <div class="w-full text-center">
      <button class=" btn text-lg mx-2" [ngClass]="deactiveBtn" (click)="addTop(hash)"> 👆</button>
    </div>
  </div>
  <div style="height: 10px">
  </div>

</div>


