/* for desktop */
@media screen and (min-width: 600px) {
  .custom-text {
    font-size: xxx-large;
  }

  .custom-span{
    font-size: xx-large;
  }

  .btn-me {
    height: 4rem;
    width: 4rem;
  }

}

/* for mobile */
@media screen and (max-width: 600px) {
  .custom-text {
    font-size: x-large;
  }

  .custom-span{
    font-size: large;
  }

}
