<div class="card w-full bg-base-100 shadow-xl mt-4 mb-4">
  <figure class="figure-padding m-4">
    <img src="assets/welcome.webp" class="rounded-xl" alt=""/>
  </figure>
  <div style="margin-bottom: 20px;text-align: center">
    <div class="mb-2">"🤖 ~没有更多了~ 🤖"</div>
    <div class="flex-auto">
      <a routerLink="/submit" class="btn btn-success btn-outline mx-2">去投稿</a>
      <a routerLink="/history" class="btn  btn-success btn-outline mx-2">看看之前的meme图</a>
      <a routerLink="/news" class="btn  btn-success btn-outline mx-2">看看新闻</a>
    </div>
  </div>

</div>
