<div class="card w-fit  bg-base-100 shadow-xl img-container " style="margin-top: 20px">

  <figure class="figure-padding" *ngIf="submission.submissionType==='IMAGE'">
    <img src="{{submission.url}}" class="rounded-xl" alt=""/>
  </figure>

  <figure class="figure-padding" *ngIf="submission.submissionType==='VIDEO'">
    <video class="rounded-xl" controls>
      <source src="{{submission.url}}" type="video/mp4">
    </video>
  </figure>

  <figure class="figure-padding rounded" *ngIf="submission.submissionType==='BILIBILI'">
    <iframe [src]="submission.url | safe" class="rounded" allowfullscreen></iframe>
  </figure>

  <app-vote [name]="submission.name" [up]="submission.up" [down]="submission.down"></app-vote>
</div>

