<div id="opt-btn" class="columns-3">
  <div class=" w-full" style="text-align: center;">
    <button class="btn btn-lg  custom-text" style="margin-right: 10px" [ngClass]="downClass()"
            (click)="vote(name,false)">🥵
    </button>
  </div>

  <div class=" w-full" style="text-align: center; ">
    <button class=" btn btn-lg   btn-wide btn-ghost custom-text" style="margin-left: 10px">
        <span class="countdown font-mono text-2xl">
          {{down}}&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;{{up}}
        </span>
    </button>
  </div>


  <div class="w-full " style="text-align: center;">
    <button class=" btn btn-lg   custom-text" style="margin-left: 10px" [ngClass]="upClass()"
            (click)="vote(name,true)">🤣
    </button>
  </div>
</div>


