<div class="card card-compact  w-full max-w-2xl mx-auto  shadow-md  mb-4">
  <figure class="p-4 h-96">
    <img [defaultImage]="defaultCover" class="w-full h-full object-cover rounded-xl"  [lazyLoad]="news.coverImage" alt="" src=""/>
  </figure>
  <div class="card-body">
    <div tabindex="0" class="collapse w-full">
      <div>
        <h2 class="card-title">
          {{news.title}}
        </h2>
      </div>
      <div class="collapse-content">
        <div [id]="news.id" class="indent-8 w-full leading-6"></div>
      </div>
    </div>

    <div class="card-actions justify-end">
      <a class="badge badge-secondary" href="{{news.sourceURL}}">原文</a>
      <div class="badge " *ngIf="news.author!=''">{{news.author}}</div>
      <div class="badge badge-success" (click)="setDateTo(news.date)">{{news.date}}</div>
      <div *ngFor="let tag of news.tag">
        <div class="badge badge-outline" (click)="addToSelector(tag)" *ngIf="tag.length<5">{{tag}}</div>
      </div>
    </div>
  </div>
</div>
