<div id="history">

  <div id="today">
    <app-submission-card class="w-full" [submission]="sub" *ngFor="let sub of submissions;"/>

    <div class="card w-fit bg-base-100 shadow-xl" style="margin-top: 20px">
      <figure class="figure-padding" style="margin: 20px">
        <img src="assets/welcome.webp" class="rounded-xl" alt=""/>
      </figure>
      <div style="margin-bottom: 20px;text-align: center">
        <div style="margin-bottom: 10px">🤖 ~没有更多了~ 🤖</div>
        <a routerLink="/submit" class="btn btn-wide btn-success btn-outline">去投稿</a>
      </div>

    </div>

    <div id="bottom-page" class="w-full">
      <div class="btn-group grid grid-cols-3">
        <button class="btn btn-success btn-outline" (click)="setCur(currentIndex-1)"
                [disabled]="!hasPrev">{{preMessage}}</button>
        <button class="btn btn-success btn-outline">{{currentMessage}}</button>

        <button class="btn btn-success btn-outline" (click)="setCur(currentIndex+1)"
                [disabled]="!hasNext">{{nextMessage}}</button>
      </div>
    </div>
  </div>


</div>
