<div id="today">
  <app-submission-card class="w-full" [submission]="sub" *ngFor="let sub of submissions;"/>

  <div class="card w-fit bg-base-100 shadow-xl" style="margin-top: 20px">
    <figure class="figure-padding" style="margin: 20px">
      <img src="assets/welcome.webp" class="rounded-xl" alt=""/>
    </figure>
    <div style="margin-bottom: 20px;text-align: center">
      <div style="margin-bottom: 10px">🤖 ~没有更多了~ 🤖</div>
      <div class="flex-auto">

        <a routerLink="/submit" class="btn btn-success btn-outline" style="margin-right: 10px">去投稿</a>
        <a routerLink="/history" class="btn  btn-success btn-outline">看看之前的</a>
      </div>
    </div>

  </div>
</div>
