<div id="today">
  <div class="shadow rounded w-full" *ngIf="showCount>10" style="display:flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;margin-top: 20px">
    <div class="stat place-items-center w-fit">
      <div class="stat-title">图片</div>
      <div class="stat-value">{{imgCount}}</div>
    </div>
    <div class="stat place-items-center w-fit f">
      <div class="stat-title">视频</div>
      <div class="stat-value text-secondary">{{videoCount}}</div>
    </div>
  </div>

  <div id="select" style="margin-top: 20px">
    <div style="display:block;" class="columns-2">
      <div class="form-control " style="width:100px">
        <label class="cursor-pointer label">
          <span class="label-text" (click)="increase(1)">看图</span>
          <input type="checkbox" checked="checked" [(ngModel)]="image" (change)="filter()"
                 class="checkbox checkbox-success"/>
        </label>
      </div>

      <div class="form-control container" style="width: 100px;margin-left: 20px">
        <label class="cursor-pointer label">
          <span class="label-text" (click)="increase(-1)">看视频</span>
          <input type="checkbox" checked="checked" [(ngModel)]="video" (change)="filter()"
                 class="checkbox checkbox-success"/>
        </label>
      </div>
    </div>
  </div>
  <app-submission-card class="w-full" [submission]="sub" *ngFor="let sub of submissions;"/>

  <div class="card w-fit bg-base-100 shadow-xl" style="margin-top: 20px">
    <figure class="figure-padding" style="margin: 20px">
      <img [src]="img" class="rounded-xl" alt=""/>
    </figure>
    <div style="margin-bottom: 20px;text-align: center">
      <div style="margin-bottom: 10px;">{{bottomMessage}}</div>
      <div class="flex-auto">

        <a routerLink="/submit" class="btn btn-success btn-outline" style="margin-right: 10px">去投稿</a>
        <a routerLink="/history" class="btn  btn-success btn-outline" style="margin-right: 10px">看看之前的</a>
        <button #topButton class="btn  btn-success btn-outline" (click)="scrollToTop()">回到顶部</button>

      </div>
    </div>

  </div>
</div>
