<div class="w-full mx-auto my-auto hidden  rounded-xl bg-base-200 lg:flex flex-row" style="height: 85vh">

  <div class="flex flex-col justify-center items-center ml-4 w-2/8 h-full my-auto">
    <div class="lg:tooltip" data-tip="点击、滚轮、方向键均可以进行切换">
      <button class="kbd kbd-lg" (click)="toPre()"><</button>
    </div>
  </div>

  <div class="mx-4 my-auto">
    <div class="flex flex-row justify-center items-center">
      <div
        class="mx-auto w-1/4 h-full hover:scale-110 overflow-hidden transform"
        (click)="toPre()">
        <app-submission-card [submission]="pre" [showVoteBar]="false"></app-submission-card>
      </div>
      <div
        class="mx-auto w-1/3 z-10 h-full scale-125 hover:scale-150 overflow-hidden transform">
        <app-submission-card [submission]="cur"></app-submission-card>
      </div>
      <div
        class="mx-auto w-1/4 h-full hover:scale-110 overflow-hidden transform"
        (click)="toNext()">
        <app-submission-card [submission]="next" [showVoteBar]="false"></app-submission-card>
      </div>
    </div>
  </div>
  <!--      next button-->
  <div class="flex flex-col justify-center items-center mr-4 w-1/8 h-full my-auto">
    <div class="lg:tooltip" data-tip="点击、滚轮、方向键均可以进行切换">
      <button class="kbd kbd-lg" (click)="toNext()">></button>
    </div>
  </div>

</div>

<div id="endless" class="block  lg:hidden">
  <app-fix-menu></app-fix-menu>
  <app-top-submission></app-top-submission>
  <div class="search-results" infiniteScroll
       [infiniteScrollDistance]="3"
       [infiniteScrollThrottle]="150"
       (scrolled)="onScroll()">
    <app-submission-card class="w-full" [submission]="sub" [admin]="adminMode" *ngFor="let sub of submissions;"/>
  </div>
  <app-end></app-end>
</div>
