<div [ngClass]="{ '-translate-y-full': !showHeader }"
     aria-hidden="!showHeader" class="navbar bg-base-100 px-1 md:px-4 xl:px-8 glass py-0 mb-4 transition-transform duration-300">

  <!-- Emoji & Config Dropdown -->
  <div class="dropdown z-10">
    <label class="btn btn-ghost" tabindex="0">
      <span class="text-2xl"> {{ selectedEmoji }} </span>
    </label>
    <ul class="menu menu-compact dropdown-content mt-3 p-2 bg-base-100 rounded-box w-40" tabindex="0">

      <li [routerLinkActive]="'active'" routerLink="/config">
        <a class="btn btn-ghost btn-sm justify-start" routerLink="/config">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5"
               viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.42 15.17 17.25 21A2.652 2.652 0 0 0 21 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 1 1-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 0 0 4.486-6.336l-3.276 3.277a3.004 3.004 0 0 1-2.25-2.25l3.276-3.276a4.5 4.5 0 0 0-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437 1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008Z" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
          配置
        </a>
      </li>

      <li [routerLinkActive]="'active'" routerLink="/review">
        <a class="btn btn-ghost btn-sm justify-start" routerLink="/review">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z"
              stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          管理
        </a>
      </li>

      <li [routerLinkActive]="'active'" routerLink="/statistic">
        <a class="btn btn-ghost btn-sm justify-start" routerLink="/statistic">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2.25 6L9 12.75l4.286-4.286a11.948 11.948 0 014.306 6.43l.776 2.898m0 0l3.182-5.511m-3.182 5.51l-5.511-3.181"
              stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          统计
        </a>
      </li>
    </ul>
  </div>

  <!-- Memes Dropdown -->
  <div class="flex-1 gap-4 z-10">
    <div class="dropdown z-10">
      <label class="btn btn-ghost normal-case text-xl" tabindex="0">memes</label>
      <ul class="dropdown-content z-10 menu p-2 shadow bg-base-100 rounded-box w-52" tabindex="0">

        <li [routerLinkActive]="'active'" routerLink="/endless">
          <a class="btn btn-ghost btn-sm justify-start" routerLink="/endless">
            <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z" stroke-linecap="round"
                    stroke-linejoin="round"/>
            </svg>
            Thread
          </a>
        </li>

        <li [routerLinkActive]="'active'" routerLink="/today">
          <a class="btn btn-ghost btn-sm justify-start" routerLink="/today">
            <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
                stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            今日
          </a>
        </li>

        <li [routerLinkActive]="'active'" routerLink="/history">
          <a class="btn btn-ghost btn-sm justify-start" routerLink="/history">
            <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M21 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953l7.108-4.062A1.125 1.125 0 0121 8.688v8.123zM11.25 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953L9.567 7.71a1.125 1.125 0 011.683.977v8.123z"
                stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            历史
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Horizontal Menu (History) -->
  <div class="flex-none flex">
    <div class="menu menu-horizontal px-1">
      <a class="btn btn-ghost" routerLink="/history">历史投稿</a>
    </div>
  </div>

  <!-- Horizontal Menu (Today) - Hidden on Small Screens -->
  <div class="flex-none hidden md:flex">
    <div class="menu menu-horizontal px-1">
      <a class="btn btn-ghost" routerLink="/today">今日投稿</a>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="flex-none mx-2">
    <div class="tooltip tooltip-bottom" data-tip="点击投稿">
      <button class="btn btn-ghost drawer-button btn-square normal-case" routerLink="/submit">
        <svg class="inline-block h-6 w-6 md:h-8 md:w-8 text-success" fill="none" stroke="currentColor" stroke-width="1.5"
             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" stroke-linecap="round"
                stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>

</div>
