<div class="card w-full  bg-base-100 shadow-xl img-container" [id]="submission.hash" style="margin-top: 20px">

  <figure class="figure-padding" *ngIf="submission.submissionType==='IMAGE'">
    <img [defaultImage]="defaultImage" class="rounded-xl" [lazyLoad]="submission.url" alt=""/>
  </figure>

  <figure class="figure-padding" *ngIf="submission.submissionType==='VIDEO'">
    <video class="rounded-xl" controls>
      <source src="{{submission.url}}" type="video/mp4">
    </video>
  </figure>

  <figure class="figure-padding rounded" *ngIf="submission.submissionType==='BILIBILI'">
    <iframe width="640px" height="480px" [src]="submission.url | safe" class="rounded" allowfullscreen></iframe>
  </figure>

  <div *ngIf="!review">
    <app-vote [hash]="submission.hash" [name]="submission.name" [up]="submission.up"
              [down]="submission.down" [adminMode] = admin></app-vote>
  </div>

  <div *ngIf="review" style="text-align: center;">
    <div style="margin: 5px">
      <button class="btn w-1/3 btn-sm btn-warning" style="margin-right: 10px" (click)="reject(submission.hash)">Reject
      </button>
      <button class="btn w-1/3 btn-sm btn-success" style="margin-left: 10px" (click)="accept(submission.hash)">Yay!
      </button>
    </div>
    <div>
      投稿于 : {{submission.timestamp | date:'MM-dd HH:mm'}}
    </div>
  </div>

</div>

