<div class="card w-full bg-base-100 shadow-lg my-5" [id]="submission.hash">

  <figure class="p-2" *ngIf="submission.submissionType==='IMAGE'">
    <img [defaultImage]="defaultImage" class="rounded-xl" [lazyLoad]="submission.url" alt=""/>
  </figure>

  <figure class="p-2" *ngIf="submission.submissionType==='VIDEO'">
    <video class="rounded-xl" controls>
      <source src="{{submission.url}}" type="video/mp4">
    </video>
  </figure>

  <figure class="p-2 rounded" *ngIf="submission.submissionType==='BILIBILI'">
    <iframe width="640px" height="480px" [src]="submission.url | safe" class="rounded" allowfullscreen></iframe>
  </figure>

  <div *ngIf="submission.submissionType=='MARKDOWN'&& (submission.url || submission.content )"
       class="p-4 md:p-8 max-h-[50vh] xl:max-h-[80vh] overflow-y-scroll">
    <div *ngIf="submission.url">
      <markdown [src]="submission.url" class="rounded break-words ">
      </markdown>
    </div>
    <div *ngIf="submission.content">
      <markdown [data]="submission.content" class="rounded break-words">
      </markdown>
    </div>
  </div>


  <div *ngIf="!review && showVoteBar">
    <app-vote [hash]="submission.hash" [name]="submission.name" [up]="submission.up" [down]="submission.down"
              [adminMode]=admin></app-vote>
  </div>

  <div *ngIf="review && showVoteBar" class="w-full text-center mt-2">
    <div class="grid grid-cols-3">
      <button class="btn w-fit mx-auto btn-sm btn-warning" (click)="reject(submission.hash)">Reject</button>
      <div class="m-auto"> {{submission.timestamp | date:'MM-dd HH:mm'}} </div>
      <button class="btn w-fit mx-auto btn-sm btn-success" (click)="accept(submission.hash)">Yay!</button>
    </div>
    <div class="mb-2 text-center">
      {{submission.uploader}}
    </div>
  </div>

</div>

