@if (!isGoodbyePage) {
  <app-header class="sticky top-0 left-0 z-10 border-b border-b-base-200 bg-base-100 bg-opacity-90 shadow-md dark:bg-base-200 dark:border-b-base-700"></app-header>
  <app-fix-menu></app-fix-menu>
}

@if (isGoodbyePage) {
  <router-outlet></router-outlet>
} @else if (getConfig(ConfigItem.singleColumnDisplay, 'BOOLEAN') || isSmallScreen()) {
  <div class="w-full px-2 max-w-4xl bg-base-100 mx-auto rounded-xl dark:bg-base-200">
    <router-outlet></router-outlet>
  </div>
} @else {
  <div class="w-full px-2 bg-base-100 mx-auto rounded-xl dark:bg-base-200">
    <router-outlet></router-outlet>
  </div>
}

<!-- 全局模态框 -->
<div class="modal" [class.modal-open]="showModal">
  <div class="modal-box" [class]="'max-w-' + modalConfig.size">
    <h3 class="font-bold text-lg">{{ modalConfig.title }}</h3>
    <p class="py-4 whitespace-pre-wrap">{{ modalConfig.content }}</p>
    @if (modalConfig.showCloseButton) {
      <div class="modal-action">
        <button class="btn" (click)="modalService.hide()">关闭</button>
      </div>
    }
  </div>
  @if (modalConfig.showBackdrop) {
    <div class="modal-backdrop" (click)="modalService.hide()"></div>
  }
</div>
