<div class="card w-full bg-base-200 shadow-xl my-4 rounded-box">
  <figure class="aspect-video m-4">
    <img alt="欢迎页面插图" class="rounded-xl object-cover" src="../../../assets/welcome.webp"/>
  </figure>
  <div class="my-4 text-center">
    <p class="mb-2 text-lg font-bold">🤖 ~没有更多了~ 🤖</p>
    <div class="flex flex-col sm:flex-row justify-center space-x-2">
      <a class="btn btn-success mx-2" routerLink="/submit">去投稿</a>
      <a class="btn btn-success btn-outline mx-2" routerLink="/history">看看之前的 meme 图</a>
    </div>
  </div>
</div>
