<div class="max-w-4xl mx-auto">

  <div class="grid grid-cols-1  gap-2 m-2 place-items-center">
    <div class="bg-base-100 shadow-xl rounded-xl p-4 w-full">
      <a [href]="post.link" class="font-bold text-lg mb- hover:text-success decoration-dashed" target="_blank">
        {{ post.title }}
      </a>
      <div class="flex items-center gap-2 w-full my-2">
        <div (click)="searchByAuthor(post.author)"
             class="font-bold w-full underline hover:cursor-pointer  text-left">{{ post.author }}
        </div>
        <div (click)="searchByBoard(post.board)"
             class="hover:cursor-pointer  font-bold w-full underline  text-center">{{ post.board }}
        </div>
        <div class="font-bold w-full block sm:hidden">{{ post.pubDate.substring(0, 10) }}</div>
        <div class="font-bold w-full hidden sm:block">{{ post.pubDate }}</div>
      </div>
    </div>
  </div>
</div>
