<div class="w-full">

  <div class="my-auto" *ngIf="submissionType==='IMAGE'" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
    <div class="w-full my-8">
      <img class="rounded-box mx-auto w-3/4" id="img" [src]="url" alt=""/>
    </div>
  </div>

  <div class=" m-auto" *ngIf="submissionType==='VIDEO'">
    <div class="mx-auto my-8">
      <video class="rounded-box mx-auto w-3/4" id="video" controls [src]="url"></video>
    </div>
  </div>

  <div class="m-auto" *ngIf="submissionType==='BILIBILI'">
    <div class="mx-auto my-8">
      <iframe class="rounded-box mx-auto" id="bilibili" [src]="url | safe"></iframe>
    </div>
  </div>


  <!--  checkbox-->
  <div class="flex rounded border-success" style="width: 300px;margin: auto">

    <div class="select-box w-full">
      <span class="label-text">Video</span>
      <input type="radio" name="radio-10" (change)="select('VIDEO')" class="radio checked:bg-success"
             [checked]="submissionType=='VIDEO'"/>
    </div>

    <div class="select-box w-full">
      <span class="label-text">Image</span>
      <input type="radio" name="radio-10" (change)="select('IMAGE')" class="radio checked:bg-success"
             [checked]="submissionType=='IMAGE'"/>
    </div>

    <div class="select-box w-full">
      <span class="label-text">Bilibili</span>
      <input type="radio" name="radio-10" (change)="select('BILIBILI')" class="radio checked:bg-success"
             [checked]="submissionType=='BILIBILI'"
      />
    </div>
  </div>


  <!-- operations-->
  <div style="text-align: center;vertical-align: center">
    <div style="margin-top: 20px;margin-bottom: 20px;">

      <input id="iframe-input" type="text" accept="text/plain" *ngIf="submissionType=='BILIBILI'" [(ngModel)]="iframe"
             (ngModelChange)="bilibiliChange()" class="file-input file-input-bordered file-input-success w-2/3 max-w-xs"
             style="margin-top: 10px;text-align: center"/>
      <input id="video-input" type="file" accept="video/mp4" *ngIf="submissionType=='VIDEO'" (change)="videoChange()"
             class="file-input file-input-bordered file-input-success w-2/3 max-w-xs" style="margin-top: 10px"/>
      <input id="image-input" type="file" accept="image/*" *ngIf="submissionType=='IMAGE'" (change)="imageChange()"
             class="file-input file-input-bordered file-input-success w-2/3 max-w-xs" style="margin-top: 10px"/>

      <label for="my-modal" style="margin-left: 20px;" (click)="submit()" class="btn   btn-success btn-md">
        上传 </label>

    </div>
  </div>

  <!-- Put this part before </body> tag -->
  <input type="checkbox" id="my-modal" class="modal-toggle "/>
  <div class="modal place-content-center">
    <div class="modal-box modal-bottom sm:modal-middle" style="text-align: center">
      <h3 class="font-bold text-lg mb-2" id="title">{{title}}</h3>
      <div class="py-4">{{message}}</div>
      <div class="modal-action">
        <label for="my-modal" class="btn btn-success btn-sm">OK</label>
      </div>
    </div>
  </div>

</div>
