/* You can add global styles to this file, and also import other style files */

/*@import "node_modules/@milkdown/theme-nord/lib/style.css";*/

@import "prism-themes/themes/prism-nord.css";

@tailwind base;
@layer base {

  h1 {
    @apply text-2xl;
    @apply font-bold;
  }

  h2 {
    @apply text-xl;
    @apply font-bold;

  }

  h3 {
    @apply text-lg;
    @apply font-bold;

  }

  h4 {
    @apply text-base;
    @apply font-bold;

  }

  h5 {
    @apply text-sm;
    @apply font-bold;

  }

  h6 {
    @apply text-xs;
    @apply font-bold;

  }


  .milkdown .editor p {
    margin: 1rem 0;
  }


  .milkdown .editor .paragraph {
    margin: 1rem 0;
  }

  .milkdown .editor blockquote {
    border-left-width: 4px;
    --tw-border-opacity: 1;
    border-color: #1be11b;
    padding-left: 1rem;
    font-family: ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
    font-style: normal;
  }
}

@tailwind components;
@tailwind utilities;


.ProseMirror:focus {
  outline: none;
}
