@import 'lxgw-wenkai-screen-webfont/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/*html {*/
/*  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);*/
/*  -webkit-filter: grayscale(100%);*/
/*}*/

body {
  font-family: 'LXGW WenKai Screen', sans-serif;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 3px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 2px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  @apply bg-base-200;
}

/* 自定义滚动条样式 */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(16, 185, 129, 0.2) rgba(243, 244, 246, 0.1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(243, 244, 246, 0.1);
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(16, 185, 129, 0.2);
  border-radius: 3px;
}

.dark .custom-scrollbar {
  scrollbar-color: rgba(16, 185, 129, 0.2) rgba(39, 39, 42, 0.3);
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(39, 39, 42, 0.3);
}
