/* You can add global styles to this file, and also import other style files */

/*@import "node_modules/@milkdown/theme-nord/lib/style.css";*/


@tailwind base;
@tailwind components;
@tailwind utilities;

.vditor-toolbar{
  border: none !important;
  background: none !important;
}

.vditor-ir pre.vditor-reset{
  background: none !important;
}
