<div class="max-w-4xl mx-auto">
  <div class="mt-4 mx-2 flex items-center">
    <input (change)="search(true)" [(ngModel)]="keyword"
           class="w-full h-12  md:max-w-5xl border border-success rounded-l-2xl text-center text-sm md:text-lg outline-none"
           placeholder="Type to search by user, board and keyword." type="text"/>

    <!--a search badge-->
    <button class="w-12 h-12  inline-block bg-success rounded-r-2xl">
      <svg *ngIf="keyword.length==0" class="w-9 h-9 pl-2" fill="none" stroke="currentColor" stroke-width="1.5"
           viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" stroke-linecap="round"
              stroke-linejoin="round"/>
      </svg>
      <!--close badge-->
      <svg (click)="this.keyword='';this.search(true)" *ngIf="keyword.length>0" class="w-9 h-9 pl-2" fill="none"
           stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </button>

  </div>

  <div (scrolled)="this.search()" [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50" class="search-results"
       infiniteScroll>
    <app-search-card (setBoard)="keyword=$event; this.search(true)" (setUser)="keyword=$event; this.search(true)"
                     *ngFor="let post of posts"
                     [post]="post">
    </app-search-card>
  </div>


  <!-- for empty result-->

  <div *ngIf="posts.length==0 && !loading" class="card w-full text-center mt-20">
    <figure>
      <img [src]="randomCode" alt="" class="rounded-xl scale-100 md:scale-75"/>
    </figure>
    <div class="w-full text-center font-bold text-xl my-2"> This is a HTTP Cat!</div>
  </div>


  <div>
    <!--  show while loading-->
    <div *ngIf="loading" class="flex justify-center  items-center my-48">
      <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-success">
      </div>
    </div>
  </div>

</div>
