<div (click)="center()" [id]="submission.id" class="card w-full bg-base-200  my-4">

  <figure class="p-2" *ngIf="submission.submissionType==='IMAGE'">
    <img [defaultImage]="defaultImage" [lazyLoad]="submission.url" alt="" class="rounded-xl" src=""/>
  </figure>

  <figure class="p-2" *ngIf="submission.submissionType==='VIDEO'">
    <video class="rounded-xl" controls>
      <source src="{{submission.url}}" type="video/mp4">
    </video>
  </figure>

  <figure class="p-2 rounded" *ngIf="submission.submissionType==='BILIBILI'">
    <iframe width="640px" height="480px" [src]="submission.url | safe" class="rounded" allowfullscreen></iframe>
  </figure>

  <div *ngIf="submission.submissionType=='MARKDOWN'&& (submission.url || submission.content )"
       class="p-4 md:p-8 max-h-[50vh] xl:max-h-[80vh] overflow-y-scroll">
    <div *ngIf="submission.url">
      <markdown [src]="submission.url" class="rounded break-words ">
      </markdown>
    </div>
    <div *ngIf="submission.content">
      <markdown [data]="submission.content" class="rounded break-words">
      </markdown>
    </div>
  </div>

  <div *ngIf="submission.submissionType=='BATCH'" class="max-h-[70vh] overflow-y-scroll">
    <div *ngFor="let child of submission.children">
      <app-card [showVoteBar]="false" [submission]="child"></app-card>
    </div>
  </div>


  <div *ngIf="!review && showVoteBar">
    <app-vote [down]="submission.down" [id]="submission.id" [name]="submission.name" [up]="submission.up"
              [adminMode]=admin></app-vote>
  </div>

  <div *ngIf="review && showVoteBar" class="w-full text-center mt-2">
    <div class="grid grid-cols-3 place-content-center">
      <button (click)="reject(submission.id)" class="btn w-fit mx-auto btn-sm btn-error">Reject</button>
      <button (click)="merge(submission.id,nextID)" [disabled]="nextID==''"
              class="btn w-fit mx-auto btn-sm btn-warning">
        MergeNext
      </button>
      <button (click)="accept(submission.id)" class="btn w-fit btn-sm mx-auto btn-success">Yay!</button>
    </div>
    <div class="mb-2 text-center">
      <div class="m-auto"> {{submission.timestamp | date:'MM-dd HH:mm'}} </div>
      {{submission.uploader}}
    </div>
  </div>

</div>

