<div id="statistic">

  <!--  place card in a row,if overflow,move next row-->

  <div class="shadow rounded-xl dark:bg-zinc-800"  style="display:flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around">
    <div class="stat place-items-center w-fit">
      <div class="stat-title">运营天数</div>
      <div class="stat-value">{{date}} 天</div>
    </div>
    <div class="stat place-items-center w-fit">
      <div class="stat-title">有效请求</div>
      <div class="stat-value">{{reqNumber}}</div>
    </div>
    <div class="stat place-items-center w-fit f">
      <div class="stat-title">平均耗时</div>
      <div class="stat-value text-secondary">{{averageCost}} ms</div>
    </div>
    <div class="stat place-items-center w-fit">
      <div class="stat-title">独立UUID</div>
      <div class="stat-value text-success">{{count(uuidCountList)}} 个</div>
    </div>
  </div>

  <div style="margin-top: 20px">
    <div class="overflow-x-auto">
      <table class="table table-compact table-zebra w-full">
        <thead>
        <tr>
          <th>UUID</th>
          <th>count</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of top(10,uuidCountList)">
          <td>{{item.key}}</td>
          <td>{{item.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div style="margin-top: 20px">
    <div class="overflow-x-auto">
      <table class="table table-compact table-zebra w-full">
        <thead>
        <tr>
          <th>URL</th>
          <th>count</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of top(10,urlCountList)">
          <td>{{replace(item.key)}}</td>
          <td>{{item.value}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>


<!--  <div style="margin-top: 20px">-->
<!--    <div class="overflow-x-auto">-->
<!--      <table class="table table-compact table-zebra w-full">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>IP</th>-->
<!--          <th>count</th>-->
<!--        </tr>-->
<!--        </thead>-->

<!--        <tbody>-->
<!--        <tr *ngFor="let item of top(10,ipCountList)">-->
<!--          <td>{{item.key}}</td>-->
<!--          <td>{{item.value}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->

</div>
