<div class="max-w-4xl mb-4 mx-auto">
  <div class=" rounded-xl flex flex-wrap flex-row justify-around bg-zinc-100 dark:bg-zinc-900">
    <div class="stat place-items-center w-fit">
      <div class="stat-title">运营天数</div>
      <div class="stat-value">{{ date }} 天</div>
    </div>
    <div class="stat place-items-center w-fit">
      <div class="stat-title">有效请求</div>
      <div class="stat-value">{{ reqNumber }}</div>
    </div>
    <div class="stat place-items-center w-fit f">
      <div class="stat-title">平均耗时</div>
      <div class="stat-value text-secondary">{{ averageCost }} ms</div>
    </div>
    <div class="stat place-items-center w-fit">
      <div class="stat-title">独立 UUID</div>
      <div class="stat-value text-success">{{ count(uuidCountList) }} 个</div>
    </div>
  </div>

  <div class="overflow-x-auto mt-4 border rounded-xl border-success">
    <table class="table  table-zebra w-full text-center">
      <thead>
      <tr>
        <th>uuid</th>
        <th>count</th>
        <th>avg/ms</th>
        <th>first</th>
        <th>last</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of top(10,uuidCountList)">
        <td>{{ item._id.substring(0, 8) }}</td>
        <td>{{ item.count }}</td>
        <td>{{ msConvert(item.avg) }}</td>
        <td>{{ timestampToHHMM(item.firstTime) }}</td>
        <td>{{ timestampToHHMM(item.lastTime) }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="overflow-x-auto mt-4 border rounded-xl border-success">
    <table class="table table-compact table-zebra w-full text-center">
      <thead>
      <tr>
        <th>method</th>
        <th>url</th>
        <th>count</th>
        <th>avg</th>
        <th>max</th>
        <th>min</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of top(100,urlCountList)">
        <td class="">{{ item.method }}</td>
        <td class="text-left">{{ item.url }}</td>
        <td>{{ item.count }}</td>
        <td>{{ msConvert(item.avg) }}</td>
        <td>{{ msConvert(item.max) }}</td>
        <td>{{ msConvert(item.min) }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
